@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("swiper-bundle.min.css");
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    }
body {
    font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
    display: none;
}

.header {
    padding-top: 5.8rem;
}
.no-webp .header-bg {
    background-image: url("../img/bg.png");
}
.header-bg {
    background-image: url("../img/bg.webp");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}
.header-bg::before {
    content:"";
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(41, 45, 51, 0.75);
    height: 100%;
    width: 100%;
    z-index: 0;
}
.nav-bar {
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    color: #fff;
    height: 5.875rem;
    position: fixed;    
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.2s background-color, 0.2s height;
}
.nav-bar .logo-black {
    display: none;
}
.nav-bar-light {
    background-color: #fff;
    color: rgb(41, 45, 51);
    border-bottom: none;
}
.nav-bar-light .logo-black{
    display: block;
}
.nav-bar-light .logo-light {
    display: none; 
}
.nav-bar-scroll {
    height: 4.5rem;
}
.logo-link {
    padding: 0 3.125rem;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}
.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0;
    padding-left: 3.125rem;
    height: 100%;
    align-items: center;
    margin:0;
}
.header-nav-item {
    display: flex;
    height: 100%;
    flex-shrink: 1;
    align-items:center;
}
.header-nav-item:not(:last-child) {
    margin-right: 4%;
}
.header-nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    background-color:#5c8ee6;
    transform: scaleX(0);
    transition: transform 0.2s;
}
.header-nav-link:hover::after {
    transform: scaleX(1);
}
.header-nav-link {
    display: flex;
    align-items:center;
    height: 100%;
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    position: relative;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:.625rem;
    margin-right: 3.125rem;
}
.header-phone-link {
    text-decoration: none;
    color: inherit;
}
.header-phone-icon {
    fill: rgb(92, 142, 230);
}
.button {
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: #fff;
    padding: 1.5625rem 2.8125rem;
    background-color: rgb(92, 142, 230);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}
.button:hover {
    background-color: rgb(138, 174, 236);
}
.header-button {
    height: 100%;
    flex-shrink: 0;
}
.container{
    max-width:90rem;
    margin: auto;
}
.header-content {
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color: #fff;
} 
.content-button {
    padding: 1.625rem 3.75rem;
}
.separator {
    background: rgb(92, 142, 230);
    width: 9.375rem;
    height: .125rem;
}
.header-title { 
    margin: 1.875rem 0;
    max-width:67.5rem;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    line-height: 120%;
    letter-spacing: .1125rem;
    word-spacing: -0.1rem;
}
.header-text {
    max-width: 45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 3.125rem;
}
.header-features {
    display: flex;
    padding: 0;
    min-height: 10.5rem;
    margin-top: 6.25rem;
    list-style: none;
    color: #fff;
    position: relative;
}
.slider-buttons {
    display: none;
    height: 44px;
}

.slider-button-next, .slider-button-prev {
    height: 100%;
    flex-basis: 50%;
    border: 1px solid rgba(235, 235, 240, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-features-item {
    width: 18rem;
    height: auto !important;
    padding: 1.5rem 3rem;
    border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
    margin-top: 1.125rem;
}
.section{
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
}
.section-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 120%;
    color: rgb(41, 45, 51);
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}
.steps {
    display: flex;
    list-style: none;   
    padding: 0;
}
.steps-item {
    max-width: 20.625rem;
}
.primary-buttons-wrapper {
    display: flex;
    height: 60px;
    justify-content: flex-end;
}
.primary-button-next, .primary-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c8ee6;
    height: 100%;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.2s;
}   
.primary-button-next:hover {
    background-color: rgb(138, 174, 236);
}
.primary-button-prev:hover {
    background-color: rgb(138, 174, 236);
}
.steps-button {
    display: none;
}
.primary-buttons-wrapper {
    height: 40px;
}
.steps-num{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
    color: rgb(92, 142, 230);
    display: flex;
    align-items: center;
}
.steps-num:after {
    content: "";
    width: 100%;
    margin-left: 1.875rem;
    height: 1px;
    background: rgb(235, 235, 240);

}
.steps-title {
    color: rgb(41, 45, 51);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1.875rem;
    margin-bottom: .625rem;
}
.steps-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 1.125rem;
    margin-top:1.125rem;
}
.button-link:before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: rgb(92, 142, 230);
    margin-right: 1rem;
    transition: width 0.2s;
}   
.button-link:hover:before {
    width: 3.75rem;
}
.button-link {
    color: rgb(92, 142, 230);
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-icon {
    display: none;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    text-decoration: none;
    flex-basis: 33%;
    border: 1px solid rgb(235, 235, 240);
    position: relative;
    transition: border 0.2s;
}
.card-image {
    width: 90%;
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
.card-content {
    padding: 2.5rem 7.5rem 3.125rem 2.5rem;
    margin-bottom: 24.625rem;
}
.card-title {
    color: rgb(41, 45, 51);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 140%;
    margin-top: 0;
    transition: color 0.2s;
    margin-bottom: .625rem;
}
.card:hover .card-title {
    color: rgb(92, 142, 230);
}
.card:hover {
    border-color: rgb(92, 142, 230);
}
.card-text {
    color: rgb(130, 138, 153);
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
    max-width: 19.375rem;
}
.trademark-cards {
    display: flex;

}
.trademark-card {
    flex-basis: 50%;
    text-decoration: none;
    border: 1px solid rgb(235, 235, 240);
    transition: border 0.2s;
    padding: 3.125rem;
    display: grid;
    grid-column-gap: 3.125rem;
    grid-template-columns: 180px 1fr;
    grid-template-rows: auto 2fr;
    grid-template-areas: 
    "logo title title"
    "logo text text";
}
.trademark-card-logo {
    width: 100%;
    grid-area: logo;
    fill: rgb(130, 138, 153);
    transition: fill 0.2s;
}
.trademark-card:hover .trademark-card-logo {
    fill: rgb(92, 142, 230);
}
.trademark-card:hover .trademark-card-title {
    color:rgb(92, 142, 230);
}
.trademark-card-title {
    grid-area: title;
    font-size: 1.75rem;
    margin: 0;
    font-weight: 400;
    line-height: 160%;
    color: rgb(41, 45, 51);
    transition: color 0.2s;
}
.trademark-card-text {
    font-style: normal;
    grid-area: text;
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 10px;

}
.trademark-card:hover {
    border-color: rgb(92, 142, 230);
}
.founder {
    position: relative;
    min-height: 37.5rem;
}
.founder-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    min-height: 100%;
    object-fit: cover;
}
.founder-content {
    max-width: 45rem;
}
.founder-content-wrapper {
    display: flex;
    justify-content: flex-end;
}
.founder-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin: 0;
    margin-bottom: 1.875rem;
}
.clients-wrapper {
    display: flex;
    gap: 3.125rem;
}
.clients-content {
    flex-basis: 50%;
}
.clients-list {
    list-style: none;
    padding: 0;
    columns: 2 auto ;
}
.clients-list-item {
    display: flex;
    gap: 1.5625rem;
    align-items: center;
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 160%;
}
.clients-list-text {
    flex-shrink: 0;
}
.clients-list-item:not(:last-child, :nth-child(5)){
    margin-bottom: 1.25rem;
}
.clients-logo-list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 10;
}
.client-logo-item {
    flex-basis: 33%;
    border: 1px solid #ebebf0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: border 0.2s;
}
.clients-logo {
    width: 70px;
    filter: grayscale(100%);
    transition: filter 0.2s;
}
.client-logo-item:hover {
    border-color: rgb(92, 142, 230);
}
.client-logo-item:hover img{
    filter: grayscale(0%);
}
.blog-card {
    display: flex;
    position: relative;
    min-height: 25rem; 
    max-width: 44.0625rem;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    justify-content: flex-end;
    padding: 3.125rem;
}
.blog-card::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 45, 51, 0.6);
    z-index: -1;
}
.blog-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.blog-card-title {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: .625rem;
    margin-top: 0;
}
.blog-card-text {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
}
.blog-slider-footer {
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
    justify-content: space-between;
}
.bg-grey {
    background: rgb(240, 242, 245);

}
.section-cta {
    position: relative;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    margin-top: 9.375rem;
}
.cta-from-wrapper {
    display: flex;
    justify-content: end;
}
.cta-form {
    max-width: 52.5rem;
}
.cta-image {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 45rem;
}
.cta-form-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin-top: 1.375rem;
    margin-bottom: 2.5rem;
    max-width: 40rem;
}
.input-group-wrapper {
    display: flex;
    gap: 1.875rem;
}
.input.is-invalid {
    border: 1px solid red;
}
.just-validate-error-label {
    position: absolute;
    top: 0;
    font-size: 0.8rem;
    right: 10px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: inherit;
    transform: translateY(-50%);
    display: inline-block;
}
.input-group-vertical {
    display: flex;
    flex-direction: column;
}
.input-group {
    position: relative;
    height: 4.125rem;
    flex-grow: 1;
    background-color: #f0f2f5;
}
.input {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1.25rem 1.875rem;
    top: 0;
    left: 0;
    border: 1px solid #e4e4eb;
    background-color: inherit;

}
.input-group-label {
    position: absolute;
    cursor: text;
    top: 1.2rem;
    left: 1.975rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: rgb(130, 138, 153);
    transition: top 0.2s, left 0.2s;
}

.input:focus ~ .input-group-label,  .input:not(:placeholder-shown).input:not(focus) ~ .input-group-label {
    top: -0.5rem;
    left: 1.25rem;
    font-size: .625rem;
    padding-left: .625rem;
    padding-right: .625rem;
    background-color: inherit;
}
.input:focus {
    border: 2px solid rgb(92, 142, 230);
    outline: none;
}
.cta-form-footer {
    display: flex;
    gap: 1.875rem;
    margin-top: 1.875rem;
    align-items: center;
}
.cta-button {
    flex-shrink: 0;
}
.notify {
    display: flex;
    align-items: flex-start;
    gap: .625rem;
}
.notify-icon {
    flex-shrink: 0;
}
.notify-text {
    margin: 0;
}
.footer-top {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo {
    height: 3.75rem;
}
.footer-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    color: rgb(41, 45, 51);
    gap: .625rem;
}
.footer-info-adress, .footer-email {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}
.footer-phone {
    font-style: normal;
    font-size: 2rem;
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    color: rgb(41, 45, 51);
}
.footer-social-link {
    text-decoration: none;
}
.footer-seporator {
    color: rgb(235, 235, 240);
    opacity: 0.5;
}
.footer-bottom {
    display: flex;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    flex-wrap: wrap;
}
.footer-menu-title {
    margin-top: 0;
    margin-bottom: 1.875rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    font-style: normal;
}
.footer-menu-list {
    margin: 0;
    padding-left: 1.25rem;
    list-style: none;
}
.footer-menu-column-2 {
    columns: 20rem auto;
    min-width: 50rem; 
}
.footer-menu-link {
    text-decoration: none;
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: .9375rem;
    transition: color 0.2s, font-weight 0.2s;
    display: block;
}
.footer-menu-link-bold {
    color: rgb(41, 45, 51);
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 1.875rem;
}
.footer-menu-wrapper:last-child {
    margin-left: 5rem;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    font-size: .75rem;
    padding-bottom: 1.25rem;
    color: rgb(130, 138, 153);
    font-weight: 400;
    line-height: 160%;
}
.footer-copyright, .footer-policy, .made-in  {
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    color: inherit;
}
.footer-author {
    display: flex;
    align-items: center;
    gap: .625rem;
}
.footer-legal {
    display: flex;
    align-items: center;
    gap: 4.375rem;
    justify-content: space-between;
}
.footer-menu-wrapper .footer-menu-link:hover {
    color: rgb(68, 73, 82);
    font-weight: 600;

}
.button-alert-modal {
    width: 100%;
}
.return-alert-link {
    cursor: pointer;
}
.alert-img {
    width: 100%;
    margin-bottom: 1.875rem;
}
.modal {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 45, 51, 0.5);
    z-index: 10;
    display: flex;
}
.modal-is-open {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}
.modal-is-open .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}
.modal-dialog {
    background-color: #fff;
    margin: auto;
    max-width: 28.75rem;
    padding: 2.5rem 3.125rem;
    position: relative;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.3s, opacity 0.3s;
}
.modal-title {
    font-family: Bebas Neue;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.modal-close {
    position: absolute;
    top: 2.5rem;
    right: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(235, 235, 240);
}
.modal-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin-bottom: 1.875rem;
}
.modal-input-group {
    background-color: #fff;
}
.modal-form-footer {
    margin-top: 1.875rem;
}
.modal-form-button {
    margin-bottom: 1.5rem;
    width: 100%;
    display: block;
}
.header-bg-color {
    background-color: rgb(240, 242, 245);
    position: relative;
}
.first-header-state {
    padding: 3.125rem 0;
}
.text-area-title {
    font-family: Bebas Neue;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    overflow-wrap: break-word;
}
.first-header-state, .second-header-state .text-area-title {
    color: rgb(41, 45, 51);
} 
.third-header-state .text-area-title {
    color: #fff;
}
.text-area-link-page:not(:last-child)::after {
    content: "";
    display: inline-block;
    margin-bottom: 5px;
    width: .875rem;
    margin: 0 .625rem;
    height: 1px;
    background-color: rgb(130, 138, 153);

}
.first-header-state .img-area {
    display: none;
}
.third-header-state  {
    display: flex;
    padding: 3.125rem 0;
}
.third-header-state .text-area {
    z-index: 1;
    color: #fff;
}
.third-header-state .img-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.third-header-state .text-area-link-page:not(:last-child)::after {
    background-color: #fff;
}
.second-header-state {
    display: flex;
    padding: 3.125rem 0;
}
.second-header-state .img-area {
    display: block;
    position: absolute;
    margin: 0;
    right: 5.375rem;
    width: 30rem;
    height: 15rem;
    bottom: 0;
}
.text-area-link {
    display: flex;
}
.text-area-link-page {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}
.second-header-state, .first-header-state .text-area-link-page:not(:last-child) {
    color: rgb(130, 138, 153);
}
.third-header-state .text-area-link-page:not(:last-child) {
    color: #fff;
}
.third-header-state .text-area-link-page:last-child {
    color: #fff;
}
.second-header-state, .first-header-state .text-area-link-page:last-child {
    color: rgb(41, 45, 51);
}
.seo-title {
    color: rgb(41, 45, 51);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
    margin-bottom: .625rem;
}
.seo-text {
    color: rgb(130, 138, 153);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
    margin-bottom: 1.25rem
}
.seo-button {
    display: flex;
    gap: .9375rem;
    align-items: center;
}
.seo-button-link {
    color: rgb(92, 142, 230);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 160%;
}
.main-info {
    display: flex;
    align-items: center;
    gap: 7.5rem;
}
.main-info-block {
    max-width: 52.5rem;
}
.main-info-title {
    max-width: 37.5rem;
}
.main-info-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}
.about-company-img {
    max-width: 30rem;
    max-height: 30rem;
}
.features-text-black-mod {
    color: rgb(41, 45, 51);
}
.adventages-item {
    width: 18rem;
    height: auto !important;
    padding: 1.5rem 3rem;
    border: 1px solid rgb(212, 212, 212);
}
.features-arrow-border {
    border: 1px solid rgb(212, 212, 212);
}
.about-features-text {
    color: black;
}
.features-about-button {
    border: 1px solid rgb(212, 212, 212);
}
.features-about-list {
    display: flex;
    padding: 0;
    min-height: 10.5rem;
    list-style: none;
    color: #fff;
    position: relative;
}
.production-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}
.production-block-info {
    max-width: 45rem;
}
.production-list {
    margin-top: 2rem;
    padding: 0;
    list-style: none;
    columns: 2 auto;
}
.production-list-item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.production-list-item:not(:nth-child(6), :nth-child(3)) {
    margin-bottom: 24px; 
}
.production-women-img {
    width: 37.5rem;
    height: 46.875rem;
    object-fit: cover;;
}
.production-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.research-center-column-text {
    display: flex;
    gap: 6.25rem;
    margin-bottom: 3.125rem;
}
.research-center-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    max-width: 39.6875rem;
}
.img-card {
    width: 44.0625rem;
    height: 25rem;
}
.img-button {
    margin-top: 1.875rem;
}
.politica-conf-text {
    color: rgb(41, 45, 51);
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;  
    margin-top: 6.25rem;
    margin-bottom: 9.375rem;
}
.avtohim-about-text-block {
    max-width: 45rem;
}
.avtohim-about-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}
.avtohim-about-img {
    height: 46.875rem;
    width: 37.5rem;
    object-fit: cover;
}
.avtohim-about-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.production-avtohim-content {
    max-width: 45rem;
}
.production-avtohim {
    min-height: 40rem;
}
.production-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem;
}
.production-avtohim {
    position: relative;
}
.production-avtohim-image {
    position: absolute;
    right:0;
    top: 0;
    width: 40%;
    min-height: 100%;
    object-fit: cover;
}
.production-avtohim-list {
    margin-top: 1.875rem;
    padding: 0;
    list-style: none;
    columns: 2 16.625rem;
    column-gap: 3.125rem;

}
.production-avtohim-list-item {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.production-avtohim-text {
    color: rgb(41, 45, 51);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}
.production-avtohim-list-item:not(:nth-child(8), :nth-child(4)) {
    margin-bottom: 1.25rem; 
}
.production-avtohim-content-text {
    margin: 0;
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
}
.type-chemicals-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 50px;
}
.type-chemicals-list {
    columns: 4;
    column-width: 19rem;
    column-gap: 3.5rem;
    list-style: none;
    padding: 0;
}
.type-chemicals-list-item {
    margin-bottom: 20px;
}
.type-chemicals-list-item-text {
    color: rgb(41, 45, 51);
    display: flex;
    align-items: center;
    font-family: Noto Sans;
    font-size: 1rem;
    font-weight: 400;
}
.type-chemicals-list-item-text::before {
    content: "";
    height: 2px;
    display: inline-block;
    width: 15px;
    margin-right: .5625rem;
    background:rgb(92, 142, 230);
}
.blog-button-link {
    text-decoration: none;
}
.blog-card-page {
    display: flex;
    position: relative;
    height: 25rem; 
    max-width: 44.0625rem;
    flex-direction: column;
    text-decoration: none;
    flex-grow: 1;
    color: #fff;
    justify-content: flex-end;
    padding: 3.125rem;
}
.blog-card-page::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 45, 51, 0.6);
    z-index: -1;
}
.blog-box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
}
.page-blog-card-text {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
}
.page-number {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
.page-number-item {
    display: block;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.page-number-item:hover {
    border: 2px solid rgb(138, 174, 236);
}
@media (max-width: 1700px) {
    .blog-card-page {
        width: 43rem;
    }
    .avtohim-about-block {
        gap: 4.5rem;
    }
    html {
        font-size: 14px;
    }
    .header-bg {
        background-position: center;
    }
    .cta-image {
        left: -12.5rem;
    }
    .section-cta {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
@media (max-width: 1460px) {
    html {
        font-size: 13px;
    }
    .logo-link {
        padding: 2rem;
    }
    .header-nav {
        padding-left: 2rem;
    }
    .header-nav-item:not(:last-child) {
        margin-right: 1rem;
    }
    .cta-from{
        max-width: 37.5rem;
    }

}
@media (max-width: 1260px) {
    .blog-card-page {
        width: 33rem;
    }
    .production-avtohim-content {
        max-width: 39rem;
    }
    .avtohim-about-img {
        width: 30.25rem;
        height: 37.875rem;
        object-fit: cover;
    }
    .footer-menu-column-2 {
        columns: 14rem auto;
        min-width: 39rem;
    }
    .production-women-img {
        width: 30rem;
        height: 40rem;
    }
    .production-block-info {
        width: 34.375rem;
    }
    .container {
        max-width: 70rem;
    }
    .trademark-card {
        grid-template-columns: auto auto;
    }
    .card {
        flex-basis: 50%;
    }
    .header-phone {
        display: none;
    }
    .header-button {
        padding-right: 2.6rem;
        padding-left: 2rem;
    }
    .logo-link {
        padding: 1.5rem;
    }
    .slider-buttons {
        display: flex;
    }
    .founder-content {
        max-width: 35rem;
    }
    .cta-image {
        left: -18.75rem;
    }
    .footer-phone {
        font-size: 1.6rem;
    }
    .second-header-state .img-area  {
        right: 0;
    }
}
@media (max-width: 1060px) {
        .blog-card-page {
            width: 31rem;
            height: 22rem;
        }
        .page-blog-card-text {
            display: none;
        }
        .avtohim-about-img {
            width: 26.25rem;
            height: 35.875rem;
        }
        .avtohim-about-block {
            gap: 3.5rem;
        }
        .production-block-info {
            width: 31.25rem;
        }
        .footer-phone {
            font-size: 1.4rem;
        }
        html {
            font-size: 12px;
        }
        .steps-button {
            display: flex;
        }
        .container {
            max-width: 65rem;
        }
        .header-nav {
            display: none;
        }
        .logo-link {
            flex-grow: 1;
            justify-content: center;
        }

        .mobile-menu-toggle {
            width: 80px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 2.1rem;
            border-right: 1px solid rgba(235, 235, 240, 0.2);
        }
        .nav-bar-light .mobile-menu-line {
            background-color: rgb(41, 45, 51);
        }
        .mobile-menu-line {
            height: 2px;
            background-color: #fff;
            width: 100%;
            transition: transform 0.2s;
        }
        .mobile-menu-line:nth-child(2) {
            width: 80%;
        }
        .nav-bar .button-text {
            display: none;
        }
        .button-icon {
            display: block;
            fill: #fff;
        }
        .mobile-menu {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            z-index: 2;
            background-color:#fff;
            padding-top: 5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

        }
        .mobile-menu-nav {
            list-style: none;
            padding: 0;
        }
        .mobile-nav-item {
            margin-bottom: 2rem ;
        }
        .mobile-nav-link {
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            line-height: 160%;
            color: rgb(41, 45, 51);

        }
        .mobile-menu.is-open {
            display: block;
        }
        .mobile-submenu {
            list-style: none;
            padding: 0;
            padding-left: 1rem;
            margin-top: 1rem;
        }
        .mobile-submenu-link {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            color: rgb(130, 138, 153);
        }
        .mobile-phone {
            display: block;
            text-decoration: underline;
            padding-top: 2rem;
            font-size: 20px;
            font-weight: 600;
            line-height: 160%;
            color: rgb(41, 45, 51);
            border-top: 1px solid rgb(235, 235, 240);
        }
        .mobile-info {
            margin-top: 1.5rem;
            display: flex;
            align-items:center;
            gap: 1rem;
        }
        .mobile-email ,  .mobile-info-adress{
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            color: rgb(41, 45, 51);
        }
        .social-network-link {
            display: flex;
            gap: 0.9rem;
            margin-top: 1.25rem;
        }
        .clients-content {
            flex-basis: 60%;
        }
        .close-menu .mobile-menu-line:nth-child(2) {
            display: none;
        }
        .close-menu .mobile-menu-line:nth-child(1) {
            transform: rotate(45deg)  translateY(12px);
        }
        .close-menu .mobile-menu-line:nth-child(3) {
            transform: rotate(-45deg) translateY(-13px);
        }
        .clients-wrapper {
            flex-direction: column;
        }
        .clients-list {
            width: 80%;
        }
        .cta-image {
            left: -28.125rem;
        }
    }
    
    @media (max-width: 850px) {
        .production-avtohim-list {
            margin-top: 1.875rem;
            margin-bottom: 3.125rem;
        }
        .blog-card-page {
            width: 100%;
        }
        .production-avtohim-image {
            position: relative;
            width: 100%;
            margin-bottom: 3.125rem;
        }
        .production-content-wrapper { 
            padding: 0;
        }
        .avtohim-about-block {
            flex-direction: column;
        }
        .avtohim-about-img {
            width: 100%;
            height: 40rem;
        }
        .second-header-state .img-area  {
            display: none;
        }
        .research-center-column-text {
            flex-direction: column;
            gap: 0px;
        }
        .production-list {
            columns: 1;
        }
        .production-avtohim-list {
            columns: 1;
        }
        .production-list-item:nth-child(6) {
            margin-bottom: 1.5rem; 
        }
        .production-list-item:nth-child(3) {
            margin-bottom: 1.5rem; 
        }
        .production-avtohim-list-item:nth-child(4) {
            margin-bottom: 1.25rem; 
        }
        .production-avtohim-list-item:nth-child(8) {
            margin-bottom: 1.25rem; 
        }
        .production-block {
            flex-direction: column-reverse;
            gap: 60px;
            width: 100%;
        }
        .production-women-img {
            width: 100%;
            height: 50rem;
        }
        .production-block-info {
            width: 100%;
        }
        .main-info {
            flex-direction: column;
            gap: 3.125rem;
        }
        .footer-top {
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-logo, .footer-phone {
            margin-bottom: 1.25rem;
        }
        .footer-menu-column-2 {
            columns: 12rem auto;
            min-width: 39rem;
            margin-bottom: 34px;
        }
        .footer-info-first {
            margin-bottom: .625rem;
        }
        .footer-legal, .footer-wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-copyright {
            margin: 0;
        }
        .footer-legal {
            gap: .625rem;
            margin-bottom: .625rem;
        }
        .footer-social {
            margin: 0;
            margin-top: 1.5625rem;
        }
        .footer-menu-wrapper:nth-child(2) {
            margin-right: 3.8125rem;
        }
        .clients-logo {
            width: 50px;
        }
        .trademark-cards {
            flex-direction: column;
        }
        .card {
            flex-basis: 100%;
        }
        .container {
            max-width: 40rem;
        }
        .header-title {
            font-size: 4rem;
        }
        .steps-title {
            font-size: 2rem;
        }
        .header-content {
            padding-top: 4rem;
        }
        .founder-image {
            position: relative;
            width: 100%;
            margin-bottom: 3.125rem;
        }
        .founder-content-wrapper {
            justify-content: flex-start;
        }
        .clients-list {
            width: 100%;
        }
        .blog-card-text {
            display: none;
        }
        .blog-card {
            padding: 1.3125rem;
        }
        .cta-image {
            display: none;
        }
    }
    @media (max-width: 576px) {
        .trademark-card {
            grid-column-gap: 2.125rem;
            padding: 2.125rem;
        }
        .text-area-title {
            font-size: 4.5rem;
        }
        .card-content {
            padding-right: 5.5rem;
        }
        .footer-menu-wrapper {
            width: 100%;
        }
        .footer-menu-wrapper:nth-child(2) {
            margin-right: 0;
        }
        html {
            font-size: 11px;
        }
        .close-menu .mobile-menu-line:nth-child(1) {
            transform: rotate(45deg) translateY(8px);
        }
        .close-menu .mobile-menu-line:nth-child(3) {
            transform: rotate(-45deg) translateY(-9px);
        }
        .logo-link {
            padding: 0;
        }
        .header-button {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        .mobile-menu-toggle {
            width: 67px;
            height: 93%;
        }
        .about-company-img {
            max-width: 25rem;
            max-height: 25rem;
        }
        .footer-bottom {
            flex-direction: column;
        }
        .footer-menu-column-2 {
            columns: 20rem auto;
            min-width: 26rem;
            margin-bottom: 1.1875rem;
        }
        .footer-menu-wrapper:last-child {
            margin-left: 0;
            margin-top: 1.875rem;
        }
        .container {
            max-width: 90%;;
        }
        .steps-item {
            max-width: 90vh;
        }
        .header-title {
            font-size: 4rem;
            margin: 1.2rem 0;
        }
        .header-text {
            font-size: 1.1rem;
            line-height: 170%;
        }
        .header-features {
            margin-top: 4rem;
        }
        .section-title {
            font-size: 3rem;
        }
        .steps-title {
            font-size: 1.7rem;
            margin-top: 1.2rem;
        }
        .section-title {
            margin-bottom: 1.25rem;
        }
        .steps-num {
            font-size: 3.8rem;
        }
        .content-button {
            width: 100%;
        }
        .card-text {
            max-width: 17.8125rem;
        }
        .trademark-card {
            grid-template-areas: 
            "logo title"
            "text text";
        }
        .clients-list {
            columns: 1 auto;
        }
        .client-logo-item {
            flex-basis: 50%;
        }
        .input-group-wrapper {
            flex-direction: column;
            gap: 1.25rem;
        }
        .cta-form-footer {
            flex-direction: column;
        }
        .cta-button {
            width: 100%;
        }
    }