* {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
}
.nav-bar {
    background-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    color: #fff;
    height: 94px;
}
.logo-link {
    padding-left: 20px;
}
.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0 20px;
    gap:30px;
    margin:0;
}
.header-nav-item {
    display: flex;
    flex-shrink: 0;
}
.header-nav-link {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}
.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:10px;
    margin-right: 20px;
}
.header-phone-link {
    text-decoration: none;
    color: inherit;
}
.button {
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    color: #fff;
    padding: 25px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgb(92, 142, 230);
    border: none;
    flex-shrink: 0;
    height: 100%;
}