* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff');
    font-weight: normal;
    font-style: normal;
    }
body {
    font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
    display: none;
}
.header {
    padding-top: 5.8rem;
}

.header-bg {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
}
.header-bg::before {
    content:"";
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(41, 45, 51, 0.75);
    height: 100%;
    width: 100%;
    z-index: 0;
}
.nav-bar {
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    color: #fff;
    height: 5.875rem;
    position: fixed;    
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.2s background-color, 0.2s height;
}
.nav-bar-light {
    background-color: #fff;
    color: rgb(41, 45, 51);
    border-bottom: none;
    height: 4.5rem;
}
.logo-link {
    padding: 0 3.125rem;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}
.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0;
    padding: 3.125rem;
    margin:0;
}
.header-nav-item:not(:last-child) {
    display: flex;
    flex-shrink: 0;
    margin-right: 4%;
}
.header-nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap:.625rem;
    margin-right: 3.125rem;
}
.header-phone-link {
    text-decoration: none;
    color: inherit;
}
.header-phone-icon {
    fill: rgb(92, 142, 230);
}
.button {
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    color: #fff;
    padding: 1.5625rem 2.8125rem;
    background: rgb(92, 142, 230);
    border: none;
    cursor: pointer;
}
.header-button {
    height: 100%;
    flex-shrink: 0;
}
.container{
    max-width:90rem;
    margin: auto;
}
.header-content {
    padding-top: 9.375rem;
    position: relative;
    z-index: 1;
    color: #fff;
} 
.content-button {
    padding: 1.625rem 3.75rem;
}
.separator {
    background: rgb(92, 142, 230);
    width: 9.375rem;
    height: .125rem;
}
.header-title { 
    margin: 1.875rem 0;
    max-width:67.5rem;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    line-height: 120%;
    letter-spacing: .1125rem;
    word-spacing: -0.1rem;
}
.header-text {
    max-width: 45rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 3.125rem;
}
.header-features {
    display: flex;
    padding: 0;
    min-height: 10.5rem;
    margin-top: 6.25rem;
    list-style: none;
    color: #fff;
    position: relative;
}
.slider-buttons {
    display: none;
    height: 44px;
}
.slider-button-next, .slider-button-prev {
    height: 100%;
    flex-basis: 50%;
    border: 1px solid rgba(235, 235, 240, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-features-item {
    width: 18rem;
    height: auto !important;
    padding: 1.5rem 3rem;
    border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
    margin-top: 1.125rem;
}
.section-light {
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
}
.section-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 120%;
    color: rgb(41, 45, 51);
    margin-top: 1.25rem;
}
.steps {
    display: flex;
    list-style: none;   
    padding: 0;
}
.steps-item {
    max-width: 20.625rem;
}
.steps-button {
    display: none;
    height: 40px;
    margin-top: 30px;
    justify-content: flex-end;
}
.steps-button-next, .steps-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c8ee6;
    height: 100%;
    width: 60px;
    cursor: pointer;
}   
.steps-num{
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 120%;
    color: rgb(92, 142, 230);
    display: flex;
    align-items: center;
}
.steps-num:after {
    content: "";
    width: 100%;
    margin-left: 1.875rem;
    height: 1px;
    background: rgb(235, 235, 240);

}
.steps-title {
    color: rgb(41, 45, 51);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1.875rem;
    margin-bottom: .625rem;
}
.steps-text {
    color: rgb(130, 138, 153);
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 1.125rem;
    margin-top:1.125rem;
}
.steps-link:before {
    content: "";
    width: 2.5rem;
    height: 1px;
    background: rgb(92, 142, 230);
    margin-right: 1.25rem;
}   
.steps-link {
    color: rgb(92, 142, 230);
    font-size: 1rem;
    font-weight: 600;
    line-height: 160%;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.button-icon {
    display: none;
}
@media (max-width: 1700px) {
    html {
        font-size: 14px;
    }
    .header-bg {
        background-position: center;
    }
}
@media (max-width: 1460px) {
    html {
        font-size: 13px;
    }
    .logo-link {
        padding: 2rem;
    }
    .logo-image {
        max-width: 6rem;
    }
    .header-nav {
        padding-left: 2rem;
    }
    .header-nav-item:not(:last-child) {
        margin-right: 1rem;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 70rem;
    }
    .header-phone {
        display: none;
    }
    .nav-bar {
        height: 5rem;
    }
    .header-button {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .logo-link {
        padding: 1.5rem;
    }
    .slider-buttons {
        display: flex;
    }
}
@media (max-width: 992px) {
    html {
        font-size: 12px;
    }
    .steps-button {
        display: flex;
    }
    .container {
        max-width: 65rem;
    }
    .header-nav {
        display: none;
    }
    .logo-link {
        flex-grow: 1;
        justify-content: center;
    }

    .mobile-menu-toggle {
        width: 80px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 1.8rem;
        border-right: 1px solid rgba(235, 235, 240, 0.2);
    }
    .nav-bar-light .mobile-menu-line {
        background-color: rgb(41, 45, 51);
    }
    .mobile-menu-line {
        height: 2px;
        background-color: #fff;
        width: 100%;
        transition: transform 0.2s;
    }
    .mobile-menu-line:nth-child(2) {
        width: 80%;
    }
    .nav-bar .button-text {
        display: none;
    }
    .button-icon {
        display: block;
        fill: #fff;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color:#fff;
        padding-top: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

    }
    .mobile-menu-nav {
        list-style: none;
        padding: 0;
    }
    .mobile-nav-item {
        margin-bottom: 2rem ;
    }
    .mobile-nav-link {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 160%;
        color: rgb(41, 45, 51);

    }
    .mobile-menu.is-open {
        display: block;
    }
    .mobile-submenu {
        list-style: none;
        padding: 0;
        padding-left: 1rem;
        margin-top: 1rem;
    }
    .mobile-submenu-link {
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: rgb(130, 138, 153);
    }
    .mobile-phone {
        display: block;
        text-decoration: underline;
        padding-top: 2rem;
        font-size: 20px;
        font-weight: 600;
        line-height: 160%;
        color: rgb(41, 45, 51);
        border-top: 1px solid rgb(235, 235, 240);
    }
    .mobile-info {
        margin-top: 1.5rem;
        display: flex;
        align-items:center;
        gap: 1rem;
    }
    .mobile-email ,  .mobile-info-adress{
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        color: rgb(41, 45, 51);
    }
    .social-network-link {
        display: flex;
        gap: 0.9rem;
        margin-top: 1.25rem;
    }
    .close-menu .mobile-menu-line:nth-child(2) {
        display: none;
    }
    .close-menu .mobile-menu-line:nth-child(1) {
        transform: rotate(45deg)  translateY(9px);
    }
    .close-menu .mobile-menu-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-9px);
    }
    @media (max-width: 850px) {
        .container {
            max-width: 40rem;
        }
        .header-title {
            font-size: 4rem;
        }
        .steps-title {
            font-size: 2rem;
        }
        .header-content {
            padding-top: 4rem;
        }
    }
    @media (max-width: 576px) {
        .container {
            max-width: 90%;;
        }
        .steps-item {
            max-width: 90vh;
        }
        .header-title {
            font-size: 2.5rem;
        }
    }
}